/* .Navbar2{
  background-color: #ffc526;
}

.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 20%;
    padding-right: 20%;
}

.sub-container{
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    -webkit-box-pack: justify!important;
}
.hlogo{
    line-height: 1rem;
}
.logo{
    padding: 10px 10px 10px 10px;
    width: fit-content;
    display: inline-block;
}

.icon{
    font-size: 30px;
    
}
.link{
    border-left: 1px solid #ddaa21;
    border-right: 1px solid #ddaa21;
    display: inline-block;
    margin-left: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    color: #231f20;
    text-decoration: none;
    font-size: .75rem;
    text-align: center;
}

.link:hover{
    color: white;
    background-color: crimson;
} */

#header{
    background-color: #ffc526;
    width: 100%;
}
#wrapper{
    margin-left: 25%;
    margin-right: 25%;
}
#container{
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between!important;
}
#logo{
    width: fit-content;
}

#link{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 45px;
    padding-right: 45px;
    color: #231f20;
    text-decoration: none;
    font-size: .75rem;
    text-align: center;
}

#sideBorder{
    /* margin-left: 35%; */
    border-left: 1px solid #ddaa21;
    border-right: 1px solid #ddaa21;
    padding: 0;
}

#link:hover{
    color: white;
    background-color: crimson;
}