#header{
    background-color: #ffc526;
    width: 100%;
}
#wrapper{
    margin-left: 25%;
    margin-right: 25%;
}
#container{
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between!important;
}
#logo{
    width: fit-content;
}

#link{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 45px;
    padding-right: 45px;
    color: #231f20;
    text-decoration: none;
    font-size: .75rem;
    text-align: center;
}

#sideBorder{
    /* margin-left: 35%; */
    border-left: 1px solid #ddaa21;
    border-right: 1px solid #ddaa21;
    padding: 0;
}

#link:hover{
    color: white;
    background-color: crimson;
}