@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
#header{
    background-color: #ffc526;
    width: 100%;
}
#wrapper{
    margin-left: 25%;
    margin-right: 25%;
}
#container{
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between!important;
}
#logo{
    width: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
}

#link{
    padding: 20px 45px 20px 45px;
    color: #231f20;
    text-decoration: none;
    font-size: .75rem;
    text-align: center;
}

#sideBorder{
    /* margin-left: 35%; */
    border-left: 1px solid #ddaa21;
    border-right: 1px solid #ddaa21;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

#link:hover{
    color: white;
    background-color: #ee1c25;
}