@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
.Navbar{
    background-color: #44555f;
    color: #FFF;
    position: sticky;
    top: 0;
    /* font-family: muli-extrabold; */
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    font-size: .875rem ;
    font-weight: 500;
}

.Navbar ul{
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 25%;
    margin-right: auto;
}
ul li{
    padding: 7px 10px 7px 10px;
    list-style: none;
}

ul li a{
    color: #FFF;
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    
}

ul li a:hover{
    color: #ffc526;
}

.HideNav{
    display: none;
}